.box {
  height: auto;
  background-color: aquamarine;
  font-weight: bold;
}

.parent {
  display: grid;
  text-align: center;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 100px);
}

.one {
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
